/** 
 * Nav
 *
 * - Variables & mixins
 * - Submenu functionality 
 * - Basic nav styles
 * - Toggle button
 * - JavaScript disabled 
 */

/*------------------------------------*\
  #VARIABLES & MIXINS
\*------------------------------------*/

// Responsive breakpoint
$breakpoint: 40em;

// Logo dimensions
$logoWidth: 3em;
$logoHeight: 3em; // also used to set nav height

// Layout
$itemSpacing: 1em; // level one link padding l & r
$submenuItemSpacing: 1em; // level two and three link padding l & r
$itemHeightMobile: auto; // line-height for items when the nav is a column
$flyoutWidth: 10em; // min-width for submenu flyout

// Colors
$navBG: #fff;
$linkColor: #000;
$submenuLinkColor: #000;
$subSubmenuLinkColor: #000;
$submenuBG: #eee;
$subSubmenuBG: #ddd;

// Toggle button
$webkit-tap-highlight-color: blue;
$toggleTextColor: black;
$toggleBG: white;
$iconColor: black;
$iconWidth: 44px;
$iconHeight: 4px;
$iconMargin: 5px;
// Rotation translation: automatically calculated
// by changing the values for height and margin
$iconOnEvent: calc(#{$iconHeight} + #{$iconMargin});

@mixin togglePosition {
  top: 2em;
  right: 1em;
}

// Mobile nav placement
@mixin mobileMenuPosition {
  top: auto;
  left: auto;
  position: relative;
  margin: 1em 0 0 0;
  width: auto;
  background-color: #eee;
}

@mixin mobileShowAnimation {
  transition: opacity $fadeIn ease-in-out;
}

// Level 1 link hover styles
@mixin linkHover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.35em;
}

// Current page link styles
@mixin currentPage {
  font-weight: bold;
}

// Visually hidden styles for submenus
@mixin hide {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  visibility: hidden;
  opacity: 0; // For the animated fade-in
}

@mixin show {
  clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  width: auto;
  visibility: visible;
  opacity: 1;
  transition: 0;
}

// Animation
$fadeIn: 200ms;

@mixin showAnimation {
  transition: $fadeIn opacity ease-in-out;
}

/*------------------------------------*\
  #SUBMENU FUNCTIONALITY
\*------------------------------------*/

// To display the entire nav structure in the
// mobile flyout start with the following and
// edit the rest of the section accordingly.

// .main-nav > ul li ul {
//   @include show;
//   @include showAnimation;
//   top: $logoHeight;
//   left: 0;
//   width: auto;

//   @media screen and (max-width: $breakpoint) {
//     position: relative;
//     top: auto;
//    left: auto;
//    width: auto;
// }

.main-nav {
  > ul li ul {
    @include hide;
    @include showAnimation;
  }

  > ul li:hover ul,
  > ul li.focus ul {
    @include show;
    top: $logoHeight;
    left: 0;
    width: auto;

    @media screen and (max-width: $breakpoint) {
      position: relative;
      top: auto;
      left: auto;
      width: auto;
    }
  }

  > ul li:hover ul li ul,
  > ul li.focus ul li ul {
    @include hide;
    @include showAnimation;
  }

  > ul li ul li:hover ul,
  > ul li ul li.focus ul {
    @include show;
    top: 0;
    left: 100%;
    width: auto;

    @media screen and (max-width: $breakpoint) {
      position: relative;
      top: auto;
      left: auto;
    }
  }
}

/*------------------------------------*\
  #BASIC NAV STYLES
\*------------------------------------*/

.main-nav {
  background: $navBG;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $breakpoint) {
    position: relative;
    display: block;
  }

  &__logo {
    width: $logoWidth;
    height: $logoHeight;
  }

  &__logo-svg {
    width: $logoWidth;
    height: $logoHeight;
  }

  a {
    color: $linkColor;
    text-decoration: none;
  }

  &__menu {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;

    @media screen and (max-width: $breakpoint) {
      @include hide;
      flex-direction: column;

      &.js-is-active {
        @include show;
        @include mobileMenuPosition;
        @include mobileShowAnimation;
      }
    }
  }

  &__menu-item {
    padding: 0 $itemSpacing;

    &:last-of-type {
      padding-right: 0;
    }

    &:hover:not([aria-current="page"]) {
      @include linkHover;
    }

    &[aria-current="page"] {
      @include currentPage;
    }

    &--has-submenu {
      padding: 0 $itemSpacing;
      position: relative;

      &[aria-current="page"] {
        @include currentPage;
      }

      @media screen and (max-width: $breakpoint) {
        width: calc(100% - 1em);
      }
    }

    @media screen and (max-width: $breakpoint) {
      width: calc(100% - 1em);
    }
  }

  &__menu-item-link {
    height: $logoHeight;
    line-height: $logoHeight;
  }

  &__menu-item-link,
  &__submenu-item-link,
  &__sub-submenu-item-link {
    display: block;
  }

  &__submenu {
    background: $submenuBG;
  }

  &__submenu-item {
    &--has-sub-submenu {
      position: relative;
      display: block;
    }
  }

  &__submenu-item-link {
    padding: $submenuItemSpacing;
    white-space: nowrap;
  }

  &__sub-submenu {
    background: $subSubmenuBG;

    @media screen and (max-width: $breakpoint) {
      background: $subSubmenuBG;
    }
  }

  &__sub-submenu-item {
    background: $subSubmenuBG;
  }

  &__sub-submenu-item-link {
    padding: $submenuItemSpacing;
    white-space: nowrap;
  }
}

/*------------------------------------*\ 
  #TOGGLE BUTTON 
\*------------------------------------*/

.nav-toggle {
  -webkit-tap-highlight-color: $webkit-tap-highlight-color;
  -webkit-touch-callout: none;
  display: none;

  @media screen and (max-width: $breakpoint) {
    display: block;
    user-select: none;
    border: none;
    color: $toggleTextColor;
    background-color: $toggleBG;
    text-decoration: none;
    padding: 0;
    position: absolute;
    @include togglePosition;
  }

  &__text {
    // Toggle button label
    // Add styles and remove the "hidden" attribute from the nav-toggle__text wrapper in the html
  }

  &__icon {
    width: $iconWidth;

    &:after,
    &:before,
    div {
      background-color: $iconColor;
      border-radius: $iconHeight;
      content: "";
      display: block;
      height: $iconHeight;
      margin: $iconMargin;
      transition: all 0.2s ease-in-out;
    }
  }

  &.js-is-active {
    .nav-toggle__icon {
      &:before {
        transform: translateY($iconOnEvent) rotate(135deg);
      }

      &:after {
        transform: translateY(calc(#{$iconOnEvent} * -1)) rotate(-135deg);
      }

      div {
        transform: scale(0);
      }
    }
  }
}

/*------------------------------------*\
  #JAVASCRIPT DISABLED 
\*------------------------------------*/

html:not(.js) {
  .main-nav {
    &__menu {
      // Show the mobile nav by default
      @media screen and (max-width: $breakpoint) {
        flex-direction: column;
        @include show;
        @include mobileMenuPosition;
        @include mobileShowAnimation;
      }
    }
  }

  .nav-toggle {
    // Remove the toggle button
    display: none;
  }
}
