/* Nav variables & mixins
   ------------------------------------------------------------ */
/* Styles
   ------------------------------------------------------------ */
.main-nav > ul li ul {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  visibility: hidden;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  /*
  @include show;
  top: $logoHeight;
  left: 0;
  width: auto;
  @media screen and (max-width: $breakpoint) {
    position: relative;
    top: auto;
    left: auto;
    width: calc(100% - 1em);
  }*/
}
.main-nav > ul li:hover ul,
.main-nav > ul li.focus ul {
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
  height: auto;
  overflow: visible;
  width: auto;
  visibility: visible;
  opacity: 1;
  transition: 0;
  top: 3em;
  left: 0;
  width: auto;
}
@media screen and (max-width: 40em) {
  .main-nav > ul li:hover ul,
.main-nav > ul li.focus ul {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
  }
}
.main-nav > ul li:hover ul li ul,
.main-nav > ul li.focus ul li ul {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  visibility: hidden;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
}
.main-nav > ul li ul li:hover ul,
.main-nav > ul li ul li.focus ul {
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
  height: auto;
  overflow: visible;
  width: auto;
  visibility: visible;
  opacity: 1;
  transition: 0;
  top: 0;
  left: 100%;
  width: auto;
}
@media screen and (max-width: 40em) {
  .main-nav > ul li ul li:hover ul,
.main-nav > ul li ul li.focus ul {
    position: relative;
    top: auto;
    left: auto;
  }
}

/* Default styles 
   ------------------------------ */
.main-nav {
  background: #fff;
  padding: 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}
@media screen and (max-width: 40em) {
  .main-nav {
    position: relative;
    display: block;
  }
}
.main-nav__logo {
  width: 3em;
  height: 3em;
}
.main-nav__logo-svg {
  width: 3em;
  height: 3em;
}
.main-nav a {
  color: #000;
  text-decoration: none;
}
.main-nav__menu {
  position: relative;
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}
@media screen and (max-width: 40em) {
  .main-nav__menu {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    visibility: hidden;
    opacity: 0;
    -webkit-flex-direction: column;
            flex-direction: column;
  }
  .main-nav__menu.is-active {
    clip: auto;
    -webkit-clip-path: none;
            clip-path: none;
    height: auto;
    overflow: visible;
    width: auto;
    visibility: visible;
    opacity: 1;
    transition: 0;
    top: auto;
    left: auto;
    position: relative;
    margin: 1em 0 0 0;
    width: auto;
    background-color: #eee;
    transition: opacity 200ms ease-in-out;
  }
}
.main-nav__menu-item {
  padding: 0 1em;
}
.main-nav__menu-item:last-of-type {
  padding-right: 0;
}
.main-nav__menu-item:hover:not([aria-current=page]) {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.35em;
}
.main-nav__menu-item[aria-current=page] {
  font-weight: bold;
}
.main-nav__menu-item--has-submenu {
  padding: 0 1em;
  position: relative;
}
.main-nav__menu-item--has-submenu[aria-current=page] {
  font-weight: bold;
}
@media screen and (max-width: 40em) {
  .main-nav__menu-item--has-submenu {
    width: calc(100% - 1em);
  }
}
@media screen and (max-width: 40em) {
  .main-nav__menu-item {
    width: calc(100% - 1em);
  }
}
.main-nav__menu-item-link {
  height: 3em;
  line-height: 3em;
}
.main-nav__menu-item-link, .main-nav__submenu-item-link, .main-nav__sub-submenu-item-link {
  display: block;
}
.main-nav__submenu {
  background: #eee;
}
.main-nav__submenu-item--has-sub-submenu {
  position: relative;
  display: block;
}
.main-nav__submenu-item-link {
  padding: 1em;
  white-space: nowrap;
}
.main-nav__sub-submenu {
  background: #ddd;
}
@media screen and (max-width: 40em) {
  .main-nav__sub-submenu {
    background: #ddd;
  }
}
.main-nav__sub-submenu-item {
  background: #ddd;
}
.main-nav__sub-submenu-item-link {
  padding: 1em;
  white-space: nowrap;
}

/* Toggle button 
   ------------------------------ */
.nav-toggle {
  -webkit-tap-highlight-color: blue;
  -webkit-touch-callout: none;
  display: none;
}
@media screen and (max-width: 40em) {
  .nav-toggle {
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: none;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 0;
    position: absolute;
    top: 2em;
    right: 1em;
  }
}
.nav-toggle__icon {
  width: 44px;
}
.nav-toggle__icon:after, .nav-toggle__icon:before,
.nav-toggle__icon div {
  background-color: black;
  border-radius: 4px;
  content: "";
  display: block;
  height: 4px;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}
.nav-toggle.is-active .nav-toggle__icon:before {
  -webkit-transform: translateY(calc( 4px + 5px )) rotate(135deg);
          transform: translateY(calc( 4px + 5px )) rotate(135deg);
}
.nav-toggle.is-active .nav-toggle__icon:after {
  -webkit-transform: translateY(calc(calc( 4px + 5px ) * -1)) rotate(-135deg);
          transform: translateY(calc(calc( 4px + 5px ) * -1)) rotate(-135deg);
}
.nav-toggle.is-active .nav-toggle__icon div {
  -webkit-transform: scale(0);
          transform: scale(0);
}

/* // JavaScript is disabled
   ------------------------------ */
@media screen and (max-width: 40em) {
  html:not(.js) .main-nav__menu {
    -webkit-flex-direction: column;
            flex-direction: column;
    clip: auto;
    -webkit-clip-path: none;
            clip-path: none;
    height: auto;
    overflow: visible;
    width: auto;
    visibility: visible;
    opacity: 1;
    transition: 0;
    top: auto;
    left: auto;
    position: relative;
    margin: 1em 0 0 0;
    width: auto;
    background-color: #eee;
    transition: opacity 200ms ease-in-out;
  }
}
html:not(.js) .nav-toggle {
  display: none;
}

/*# sourceMappingURL=main.css.map */